@charset "UTF-8";
.main-message {
  left: 3%;
}
@media screen and (max-width: 1024px) {
  .main-message h1 {
    font-size: 16px
  }
}
@media screen and (max-width: 900px){
  .main-message h1 {
    font-size: 15px;
  }
}

.contact-container {
  padding: 40px 100px;
}

.contact-tel p{
  color: #0C4324;
  padding-top: 10px;
  font-size: 24px;
  font-weight:700;
}

.contact-tel .adress {
  color: #000000;
  font-size: 16px;
}

.tel span {
  color: #000000;
  font-size: 14px;
  padding-right: 3px;
  font-weight: 700;
}

.contact-form {
  padding-top: 25px;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
}

.form-item {
  padding-bottom: 50px;
}

.contact-form-title{
  color: #0C4324;
  font-size: 24px;
  padding-bottom: 23px;
  font-weight: 700;
 }

 .contact-form-remark {
  font-size: 18px;
  padding-bottom: 25px;
}

.contact-form label {
  padding-bottom: 15px;
  font-size: 16px;
  display: block;
  font-weight: 700;
}

input {
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0, 0.36)
}

select {
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0, 0.36)
}

textarea {
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0, 0.36)
}

.blank {
  width: 100%;
  height: 40px;
}

.blank-textarea {
  width: 100%;
  height: 130px;
  resize: vertical;
}

.submit{
  background-color: #1B9240;
  color: #ffffff;
  width: 240px;
  height: 48px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
}

@media screen and (max-width: 767px) {


  .contact-container {
    padding: 15px 16px 40px 16px;
  }
   
  .contact-form {
    width: 100%;
  }

  .form-item {
    padding-bottom: 40px;
  }
  .blank {
    width: 100%;
  }
  

}