@charset "UTF-8";
.main-message {
  left: 3%;
}
@media screen and (max-width: 1024px) {
  .main-message p {
    font-size: 28px
  }
}
.post-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px;
  gap: 70px;
  justify-content: center;
}

.post-left {
  width: 70%;
}

.post-with-photo {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.post-title h2,
.post-title h2:visited,
.post-title h2:active{ 
  color: #000000;
}


.post-photo {
  border-radius: 16px;
  width: 40%;
}

.post-title h2{
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 10px;
}

.post-date {
  display: flex;
  gap: 20px;
  align-items: center;
}

.post-date time,
.post-date time:visited,
.post-date time:hover,
.post-date time:active {
  color: #000000;
  font-size: 18px;
}

.post-date span {
  background-color: #468459;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  padding: 2px 16px;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.post-right .category {
  font-size: 24px;
  font-weight: bold;
  color: #0C4324;
}

.post-right ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 10px;
  line-height: 2;
}

.post-right {
  width: 20%;
}

.cat-item a{
  font-size: 18px;
  color: #000000;
}





@media screen and (max-width: 767px) {

  .post-with-photo {
    padding: 20px 0;
  }
  .post-container {
    flex-direction: column;
    padding: 0 16px;
    gap: 10px;
  }
  .post-left {
    width: 100%;
    padding-top: 15px;
    order: 1;
  }

  .post-with-photo {
    flex-direction: column;
    gap: 0;
  }

  .post-photo {
    width: 100%;
  }

  .post-title {
    width: 100%;
  }

  .post-title h2 {
    font-size: 18px;
    font-weight: 900;
  }

  .post-right {
    order: 3;
    width: 100%;
    padding-top: 30px;
  }

  .post-right .category {
    font-size: 18px;
  }

  .post-right li{
    font-size: 18px;
  }

  .pagination{
    order: 2;
  }

}