/* about.html */
a {
  text-decoration: none;
}

.main-message-sp {
  display: none;
}

/* flow */
.flow {
  width: min(100%, 1200px);
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 200px;
  position: relative;
  
}

.flow-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flow-left{
  width: 38%;
  position: relative;
}

.flow-left::before {
  position: absolute;
  top: 12%;
  left: -30%;
  content: 'Flow';
  color: #DAE2C2;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 120px;
  z-index: -1;
  opacity: 25%;
}
.flow-catch ol {
  padding-left: 22px;
  padding-top: 30px;
  line-height: 3;
  font-size: 16px;
  font-weight: 400;
}

.flow-right {
  width: 35%;
  position: relative;
}

.flow-right img {
  width: 150%;
}

@media screen and (max-width: 767px) {
  .flow {
    padding-top: 0;
    
  }

  .flow-flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .flow-right {
    padding-top: 70px;
    width: 90%;
  }

  .flow-left {
    width: 100%;
    padding: 30px;
  }
  .flow-left::before {
    top: -7%;
    left:0;
    font-size: 90px;
  }
  .concept::before {
    top: 42%;
    left: 2%;
    font-size: 100px;
  }

  .bg-person::before {
    bottom: -30px;
    right: -35%;
    background-size: 70%;
  }

  .flow-left::before {
    top: 20%;
  }



@media screen and (max-width: 767px) {




}
  
}

/* ポイント */
.point {
  padding-top: 100px;
  padding-bottom: 60px;
}
.point-title-under {
  margin-top: 20px;
}
.point-title-under > .point-explain {
  text-align: center;
  color: #468459;
  margin: 0 auto;
 max-width: 680px;
}

.point-explain br {
  display: none;
}

.point-photo img {
  border-radius: 24px;
}

.point-photo {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 50px 50px;
}

.point-photo p {
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}
    

@media screen and (max-width: 767px){

  .point-explain {
    padding: 20px 25px;;
    font-size: 18px;
  }

  .point-photo {
    flex-direction: column;
    align-items: center;
  }
}








