@charset "UTF-8";
.course-frame {
  display: none;
}

.course-left::before {
  display: none;
}

.course-price {
  background-color: #fafafa;
  padding-top: 35px;
}

  /* 保険診療 自費診療*/
  .insurance-selfpay {
    display: flex;
    padding: 50px 70px;
    gap: 30px;
  }

  .insurance-selfpay-left {
    width: 55%;
    padding-left: 10px;
    padding-top: 10px;
  }


  .insurance-selfpay-explain {
    font-size: 16px;
  }

  .selfpay-price {
    font-size: 16px;
  }

  .insurance-selfpay-right img {
    border-radius: 26px;
  }

  @media screen and (max-width: 767px) {
    .insurance-selfpay{
      flex-direction: column-reverse;
    }

    .insurance-selfpay-left {
      width: 100%;
    }

    .common-title-under {
      font-size: 18px;
    }

    .insurance-selfpay-explain p {
      display: none;
    }

    .insurance-selfpay-explain ul {
      line-height: 3;
    }

    .selfpay-price span{
      display: block;
    }
  }

  

 