@charset "UTF-8";
.customer {
  display: flex;
  flex-direction: column;
  padding: 70px 100px;
}

.customer-title {
  padding: 10px 0;
}

.customer-item img {
  width: 20%;
}

.customer-item {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
}

.title-coment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.number {
  text-align: center;
}
.number .active {
  background-color: #468459;
  color: #ffffff;
}
.number p {
  display: inline;
}

@media screen and (max-width: 767px) {
  .customer {
 padding: 20px;
  }
  .customer-item {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .title-coment {
    align-items: center;
  }
  
}


