html {
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 auto 0 auto;
  }

  header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
  }

  .logo {
    margin: 30px 20px;
  }

  .logo img {
    width: 100%;
  }

  #nav-pc {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    padding: 30px 40px;
  }

  #nav-pc a {
    text-align: center;
    padding: 10px 20px;
    white-space: nowrap;
  }

  #nav-pc a:link {
    color: #ffffff;
  }

  #nav-pc a:visited {
    color: #ffffff;
  }

  #nav-pc a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  #nav-pc a:active {
    color: #ffffff;
  }

  #nav-pc .reservation {
    background-color: #0C4324;
    border-radius: 5px;
    margin-left: 10px
  }

  /* スマホ用ナビを非表示 */
  #nav-sp,
  #menu-sp,
  #main-vidual-sp{
    display: none;
  }

  /* 縦書きメッセージ */
  .main-message {
    writing-mode: vertical-rl;
    font-size: 2vw;
    letter-spacing: 0.5em;
    line-height: 50px;
    padding: 115px 90px;
    color: #468459;
    font-family: 'Shippori Mincho', serif;
    position: relative;
    z-index: 0;
  }

  .main-message span {
    border-right: dashed #468459;
  }

  .main-message::before {
    content: "";
    background-image: url(images/_x31_7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 90px;
    left: 100px;
    z-index: -1;
  }

  .main-message::after {
    content: "";
    background-image: url(images/_x31_7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 345px;
    left: 70px;
    z-index: -1;
  }


  /* ヒーローイメージ */
  #main-vidual-pc {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  #main-vidual-img {
    position: relative;
    z-index: 0;
    margin-right: 0;
  }

  #main-vidual-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  #main-vidual-img::before {
    content: "";
    background: url(images/_x31_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80%;
    position: absolute;
    top: -70px;
    left: -20px;
    z-index: -1;
  }

  /* お知らせ */
  .news {
    display: flex;
    font-size: 18px;
    margin: 5px 80px 120px 80px;
    white-space: nowrap;
  }

  .news p {
    text-align: center;
    padding: 4px 5px;
  }

  .news-subject {
    display: flex;
    padding-right: 30px;
    font-size: 18px;
    color: #468459
  }

  .news-subject p:nth-child(1) {
    font-weight: bolder;
    font-size: 24px;
    padding-top: 0px;
  }

  .news-date {
    display: flex;
    padding-right: 30px;
    
  }

  .news-date p:nth-child(2) {
    background-color: #468459;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 20px 0;
    font-size: 14px;
    margin-right: 20px
  }

  .news a {
    margin-left: auto;
    font-size: 14px;
  }

  /* コンセプト */
  .concept,.flow{
    margin: 0 auto;
    max-width: 860px;
  }

  .concept-flex,.flow-flex {
    display: flex;
    align-items: center;
  }

  .concept-left,.flow-left {
    width: 45%
  }

  .concept-catch {
    position: relative;
    color: #468459;
    line-height: 1.8;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    z-index: 1;
  }

  .concept-catch::before {
    position: absolute;
    top: -30%;
    left: -25%;
    margin-left: 20px;
    content: 'Concept';
    color: #DAE2C2;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 120px;
    z-index: -1;
  }


  .concept-explain {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5
  }

  .concept-btn {
    border: solid 1px;
    border-radius: 6px;
    font-size: 14px;
    padding: 3px 23px;
    margin-right: 0;
    margin-left: auto;
    width: 150px;
    text-align: center;

  }

  .concept-right-img,.flow-right-img {
    margin-left: 20px;
    position: relative;

  }


  .concept-right,.flow-right {
    margin-top: 80px;
  }

  /* コース・料金 */
  .course-frame {
    margin-top: 30px;
  }

  .course-title-img img {
    text-align: center;
    margin: 0 auto;
  }

  .course-title-img p {
    text-align: center;
    font-size: 24px;
    color: #468459;
    margin: 20px auto;
    width: 342px;
  }

  .course-flex {
    display: flex;
    width: 100%;
    justify-content: center;

  }

  .course-left,
  .course-right {
    margin: 30px 30px;
  }

  .course-title {
    font-size: 24px;
    color: #0C4324;
    padding: 15px 0 0;
  }

  .course-item {
    margin-top: 0px;
    font-size: 13px;
    line-height: 3;
    list-style-position: inside;
    padding-left: 10px;
  }

  .course-btn {
    border: solid 1px;
    border-radius: 6px;
    font-size: 14px;
    padding: 3px 23px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
  }

  .course-frame {
    background-image: url("images/course-frame.png");
  }

  .course-content {
    padding: 140px 0;
  }

  /* お客様の声 */
  .voice-img-sp {
    display:none;
  }
  .voice-title-img {
    position: relative;
    z-index: 1;
    display: block;
    top: -119px;
    padding-top: 73px;
  }

  .voice-title-img::before {
    content: "";
    background-image: url(images/voice-circle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    z-index: -1;
    width: 515px;
    height: 119px;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    position: absolute;
  }
  .voice-title-img img {
    text-align: center;
    margin: 0 auto;
  }

  .voice-title-img p {
    text-align: center;
    font-size: 24px;
    color: #468459;
    margin: 20px auto;
    width: 342px;
  }

  .customer {
    display: flex;
    justify-content: center;
    margin: 0 60px
  }

  .customer-item {
    width: 30%;
    margin: 50px 0;
  }

  .customer-item img {
    margin: 0 auto;
  }

  .customer-title {
    font-size: 24px;
    color: #0C4324;
    text-align: center;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 12px;
  }

  .customer-explain {
    font-size: 18px;
    line-height: 2;
    margin: 0 auto;
    width: 25VW
  }

  .voice-btn {
    border: solid 1px;
    border-radius: 6px;
    font-size: 14px;
    padding: 3px 23px;
    margin: 0 auto;
    width: 200px;
    text-align: center;

  }

  /* フッター */
  .footer-title-img img {
    text-align: center;
    margin: 0 auto;
  }

  .footer-flex {
    display: flex;
    justify-content: center;
  }

  .footer-left,
  .footer-right {
    margin: 30px 30px;
  }

  .footer-minutes {
    font-size: 24px;
    color: #468459;
    margin-bottom: 15px;
  }

  .footer-adress {
    font-size: 16px;
  }

  .footer-tel {
    font-size: 24px;
    color: #468459;
    margin: 15px auto;
  }

  .footer-tel span {
    font-size: 16px;
  }


  .footer-btn {
    margin-top: 30px;
  }

  .footer-btn a {
    color: #ffffff;
    background-color: #1B9240;
    border-radius: 4px;
    padding: 9px 16px;
    font-size: 16px;
  }


  .footer-content {
    background-color: #F0F5E1;
  }

  .footer-navi {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 50px 8px;
    margin: 0 40px;
  }

  .footer-navi a {
    font-size: 16px;
  }

  .footer-content {
    background-color: #F0F5E1;
  }

  .copyright {
    background: #468459;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    padding: 10px 0;
  }

  #top-page {
    float: right;
    margin-top: -100px;
  }
}

/* スマホ用のスタイル */
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0 auto 0 auto;
  }
/* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
  }
  .logo {
    margin: 30px;
  }
  
/* ハンバーガーメニュー */
#menu-sp {
  position: absolute;
  top: 32px;
  right: 20px;
  }

/* スマホ用ナビゲーションの表示切替 */
/* 初期状態、レイアウトと非表示設定 */
#nav-sp {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  display: none;
  z-index: 10000;
}

/* ✖︎ボタン */
#close {
  position: absolute;
    top: 32px;
    right: 20px;
}

/* ナビゲーション用ロゴ */
#logo-sp {
  margin: 30px 0px 30px 20px;
}

#nav-sp p {
  margin-top: 60px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  color: #0C4324;

}

/* ナビゲーションのリンクの装飾設定SP */
#nav-sp>a {
  display: block;
}

#nav-sp>a:link {
  color: #0D0D0D;
}

#nav-sp>a:visited {
  color: #0D0D0D;
}

#nav-sp>a:hover {
  color: #0D0D0D;
  text-decoration: underline;
}

#nav-sp>a:active {
  color: #0D0D0D;
}

#nav-sp>.menu {
  text-decoration: none;
  display: block;
  margin: 0 30px 0 30px;
  height: 60px;
  font-size: 16px;
}

.menu-contact-btn {
margin:0 auto;
text-align: center;
}
.menu-contact-btn a {
background-color: #0C4324;
text-align: center;

border-radius: 4px;
font-size: 14px;
padding : 10px 50px;
color: #ffffff;
}

スマホ用ヘッダー下メッセージとヒーローイメージ
#main-vidual-pc > h1
#main-vidual-pc > div {
  display: none;
}

#main-vidual-sp {
  display: flex;
  align-items: center;
  padding-top: 0;
  width: 100%;
  justify-content: center;
}

/* 縦書きメッセージ */
.main-message-sp {
  writing-mode: vertical-rl;
  font-size: 3vw;
  letter-spacing: 0.5em;
  line-height: 50px;
  color: #468459;
  font-family: 'Shippori Mincho', serif;
  position: relative;
  z-index: 10;
}

.main-message-sp span {
  border-right: dashed #468459;
}

.main-message-sp::before {
  content: "";
  background-image: url(images/_x31_7.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 90px;
  left: 100px;
  z-index: -1;
}

.main-message-sp::after {
  content: "";
  background-image: url(images/_x31_7.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 345px;
  left: 70px;
  z-index: -1;
}


/* ヒーローイメージ */
#main-vidual-sp-img {
  position: relative;
  z-index: 0;
  margin-right: 0;
}

#main-vidual-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#main-vidual-sp-img::before {
  content: "";
  background: url(images/_x31_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0px;
  left: -20px;
  z-index: -1;
}

/* お知らせSP */
.news {
  font-size: 18px;
  margin: 5px 0 30px 20px;
}

.news p {
  padding: 4px 5px;
}

.news-subject {
  display: flex;
  padding-right: 30px;
  font-size: 18px;
  color: #468459
}

.news-subject p:nth-child(1) {
  font-weight: bolder;
  font-size: 24px;
  padding-top: 0px;
}

.news-date {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  position: relative;
}

.news-info {
  position: absolute;
  top: 0;
  left: 150px;

}

.news-date p:nth-child(2) {
  background-color: #468459;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 20px 0;
  font-size: 14px;
  width: 120px;
}

.news a {
  float: right;
  font-size: 14px;
  margin-right: 40px;
}

/* コンセプトSP */
.concept ,.flow {
  margin: 80px 30px;
  max-width: 860px;
  
}

.course-title-img {
  margin-top: 50px;
}

.concept-flex,.flow-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concept-left ,.flow-left{
  width: 100%;
  order: 2;
  z-index: 0;
}

.concept-catch {
  position: relative;
  color: #468459;
  line-height: 1.8;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  position: relative;
}

.concept-catch br {
  display: none;
}

.concept-catch::before {
  position: absolute;
  top: -130%;
  left: -10%;
  margin-left: 20px;
  content: 'Concept';
  color: #DAE2C2;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 95px;
  position: absolute;
  z-index: -1;
}


.concept-explain {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.5
}

.concept-btn {
  border: solid 1px;
  border-radius: 6px;
  font-size: 14px;
  padding: 3px 23px;
  margin: 0 auto;
  width: 150px;
  text-align: center;

}

.concept-right,.flow-right {
  width: 100%;
  order: 1;
  margin: 0 auto;
  
}


.concept-right-img::before {
  content: "";
  background-image: url(images/concept-right3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* コース・料金SP */
.course-price {
  margin: 0 aruto 0 auto;
}


.course-title-img img {
  text-align: center;
  margin: 0 auto;
}

.course-title-img p {
  text-align: center;
  font-size: 24px;
  color: #468459;
  margin: 20px auto;
  width: 342px;
}

.course-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.course-left,
.course-right {
  margin: 30px auto;
}

.course-title {
  font-size: 24px;
  color: #0C4324;
  padding: 15px 0 0;
}

.course-item {
  margin-top: 0px;
  font-size: 13px;
  line-height: 3;
  list-style-position: inside;
  padding-left: 10px;
}

.course-btn {
  border: solid 1px;
  border-radius: 6px;
  font-size: 14px;
  padding: 3px 23px;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.course-frame {
  background-image: url("images/course-frame-sp.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.course-content {
  padding: 140px 0;
}

/* お客様の声SP */
.voice {
  margin: 80px 20px;
  max-width: 860px;
}
.voice-img-pc {
  display: none;
}

.voice-img-sp {
  width: 100%;
}

.voice-title-img {
  position: relative;
  z-index: 1;
  display: block;
  top: -119px;
  padding-top: 73px;
}

.voice-title-img::before {
  content: "";
  background-image: url(images/voice-circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  z-index: -1;
  width: 515px;
  height: 119px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
}
.voice-title-img img {
  text-align: center;
  margin: 0 auto;
}

.voice-title-img p {
  text-align: center;
  font-size: 24px;
  color: #468459;
  margin: 20px auto ;
  width: 342px;
}

.customer {
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  align-items: center;
}

.customer-item {
 margin-bottom: 40px;
}

.customer-item img {
  margin: 0 auto;
}

.customer-title {
  font-size: 24px;
  color: #0C4324;
  text-align: center;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 12px;
}

.customer-explain {
  font-size: 18px;
  line-height: 2;
  margin: 0 40px;
  
}

.voice-btn {
  border: solid 1px;
  border-radius: 6px;
  font-size: 14px;
  padding: 3px 23px;
  margin: 0 auto 30px auto;
  width: 200px;
  text-align: center;

}

/* フッターSP */
.footer-frame img {
  width: 100%;
}

.footer-title-img img {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-flex {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  margin-left:30px
}

.footer-left,
.footer-right {
  margin: 30px 30px;
}

.footer-minutes {
  font-size: 24px;
  color: #468459;
  margin-bottom: 15px;
}

.footer-adress {
  font-size: 16px;
}

.footer-tel {
  font-size: 24px;
  color: #468459;
  margin: 15px auto;
}

.footer-tel span {
  font-size: 16px;
}

.footer-btn {
  margin-top: 30px;
  text-align: center;
}

.footer-btn a {
  color: #ffffff;
  background-color: #1B9240;
  border-radius: 4px;
  padding: 9px 16px;
  font-size: 16px;
}

.iframe-pc {
  display: 100%;
  text-align: center;
}

.footer-content {
  background-color: #F0F5E1;
}

.footer-navi {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding:40px
}

.footer-navi img {
  width: 50vw;
}

.footer-navi a {
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.footer-content {
  background-color: #F0F5E1;
}

.copyright {
  background: #468459;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  padding: 10px 0;
}

#top-page {
  float: right;
  margin-top: -150px;
  margin-right: 20px;
}
}

/* about.html */
@media screen and (min-width: 768px) {
  .another-logo {
    margin: 10px 20px;
  }

  #another-nav-pc {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    margin-top: 15px 20px;
    padding: 5px 40px;
  }

  #another-nav-pc a {
    text-align: center;
    padding: 10px 20px;
    white-space: nowrap;
  }

  #another-nav-pc a:link {
    color: #468459;
  }

  #another-nav-pc a:visited {
    color: #468459;
  }

  #another-nav-pc a:hover {
    color: #468459;
    text-decoration: underline;
  }

  #another-nav-pc a:active {
    color: #468459;
  }

 .another-reservation {
    background-color: #0C4324;
    border-radius: 5px;
    margin-left: 10px;
  }

  #nav-pc .reservation {
    background-color: #0C4324;
    border-radius: 5px;
    margin-left: 10px
  }
  .another-reservation a:link,
  .another-reservation a:visited,
  .another-reservation a:hover,
  .another-reservation a:active {
    color: #ffffff;
  }

  /* スマホ用ナビを非表示 */
  #another-nav-sp,
  #another-menu-sp,
  #another-main-vidual-sp{
    display: none;
  }

  /* 横書きメッセージ */
  .anther-main-message {
    font-size: 32px;
    color: #468459;
    position: relative;
    z-index: 0;
  }

  .another-main-message span {
    border-bottom: dashed #468459;
    font-size: 18px;
  }

  .another-main-message::before {
    content: "";
    background-image: url(images/_x31_7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }

  
  /* ヒーローイメージ */
  #another-main-vidual-pc {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  #another-main-vidual-img {
    position: relative;
    z-index: 0;
    margin-right: 0;
    margin-top: 50px
  }

  #another-main-vidual-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  #another-main-vidual-img::before {
    content: "";
    background: url(images/_x31_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80%;
    position: absolute;
    top: -0px;
    left: -20px;
    z-index: -1;
  }

  .site {
    margin-left: 50px;
    font-size: 16px;
  }
  }

  @media screen and (max-width: 767px) {
  #another-main-vidual-pc,
  #another-nav-pc{
    display: none;
  }

  .another-logo {
    margin: 15px;
    margin-left: 20px;
  }
  .another-main-vidual-sp {
    display: flex;
    flex-direction: column;
    
  }

  #another-main-message-sp {
    color: #468459;
    order: 2;
  }

  #another-main-vidual-sp-img {
    order: 1;
  }
  }

  /* aboutus.html コンセプト */
  .flow-catch {
    position: relative;
    line-height: 3;
    margin-top: 70px;
    margin-left: -15px;
    font-size: 16px;
    z-index: 1;
  }

  .flow-catch::before {
    position: absolute;
    top: -75%;
    left: -25%;
    margin-left: 20px;
    content: 'flow';
    color: #DAE2C2;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 120px;
    z-index: -1;
  }





  













