@charset "UTF-8";

html {
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}


body {
  margin: 0 auto 0 auto;
  position: relative;
}

header {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: min(100%, 1024px);
  padding: 0 16px;
}

/* PC用ナビゲーション非表示 */
@media screen and (max-width: 767px) {
  #nav-pc {
    display: none !important;
  }

  #main-vidual-pc {
    display: none !important;
  }
}

.logo {
  width: 240px;
  display: block;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 180px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 25px;
  }
}

.logo img {
  width: 100%;
}

#nav-pc {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  padding: 30px 0;
  gap: 30px;
}

@media screen and (max-width: 900px) {
  #nav-pc {
    gap: 8px;
  }
}

#nav-pc a {
  text-align: center;
  padding: 10px 0;
  white-space: nowrap;
}

#nav-pc a:link {
  color: #ffffff;
}

#nav-pc a:visited {
  color: #ffffff;
}

#nav-pc a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#nav-pc a:active {
  color: #ffffff;
}

#nav-pc .reservation {
  background-color: #0C4324;
  border-radius: 5px;
  padding: 10px 30px;
}

/* スマホ用ナビを非表示 */
#nav-sp,
#menu-sp,
#main-vidual-sp-img {
  display: none;
}

/* ハンバーガーボタン */
@media screen and (max-width: 767px) {
  #menu-sp {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }
}

/* メインビジュアル */
#main-vidual {
  display: flex;
  flex: 1;
  align-items: center;
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  #main-vidual-img {
    display: none;
  }

  #main-vidual {
    gap: 0px;
    padding-left: 18px;
  }

}

/* 縦書きメッセージ */
.main-message {
  writing-mode: vertical-rl;
  letter-spacing: 0.5em;
  line-height: 50px;
  padding: 30px 100px;
  color: #468459;
  font-family: 'Shippori Mincho', serif;
  position: relative;
  z-index: 0;
  font-size: min(2vw, 24px);
}

@media screen and (max-width: 900px) {
  .main-message {
    padding: 10% 5%
  }
}


.main-message span {
  border-right: dashed #468459;
}

.main-message::before {
  content: "";
  background-image: url(images/_x31_7.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40%;
  height: 600%;
  position: absolute;
  top: -10%;
  right: 15%;
  z-index: -1;
}

.main-message::after {
  content: "";
  background-image: url(images/_x31_7.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 50%;
  position: absolute;
  bottom: 2%;
  left: 25%;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .main-message {
    padding: 0;
    font-size: 20px;
    margin-right: -30px;
    z-index: 1;
  }

  .main-message::before {
    width: 100%;
    height: 100%;
    top: 65%;
    right: 20%
  }

  .main-message::after {
    width: 120%;
    height: 100%;
    top: -10%;
    left: 40%
  }

}

/* ヒーローイメージ */
#main-vidual-img {
  position: relative;
  z-index: 0;
  flex: 1;
  margin-right: 0;
}

#main-vidual-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#main-vidual-img::before {
  content: "";
  background: url(images/_x31_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  #main-vidual-sp-img {
    display: block;
    position: relative;
    z-index: 0;
    flex: 1;
    margin-right: 0;
    width: 80%;
  }

  #main-vidual-sp-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  #main-vidual-sp-img::before {
    content: "";
    background: url(images/_x31_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: -20px;
    z-index: -1;
  }

}



/* お知らせ */
.news {
  display: flex;
  align-items: center;
  font-size: 18px;
  white-space: nowrap;
  padding: 7px 7%;
  gap: 2%;
}

.news-subject {
  display: flex;
  font-size: 18px;
  color: #468459;
  gap: 7px;
  align-items: center;
}

.news-subject p:nth-child(1) {
  font-weight: bolder;
  font-size: 24px;
}

.news-date {
  display: flex;
  gap: 3px;
  align-items: center;
}

.news-date p:nth-child(2) {
  background-color: #468459;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  padding: 2px 16px;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.news a {
  margin-left: auto;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .news {
    flex-direction: column;
    align-items: flex-start;
  }

  .news-date {
    flex-direction: column;
  }

  .news a {
    color: #0C4324
  }
}


/* コンセプト */
.concept,
.flow {
  width: min(100%, 1000px);
  margin: 0 auto;
}

.common-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.common-left {
  max-width: 350px;
}


.common-title {
  display: flex;
  align-items: center;
}

.common-title img {
  width: 22px;
  height: 20px;
}

.common-title p {
  font-size: 24px;
  color: #468459;
}

.common-title-under {
  font-size: 24px;
  color: #468459;
}


.concept {
  position: relative;
}

.concept::before {
  position: absolute;
  top: 12%;
  left: 1%;
  content: 'Concept';
  color: #DAE2C2;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 120px;
  z-index: -1;
}

.concept::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 68%;
  background-image: url(images/BGicon_Green.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  z-index: -1;
  width: 440px;
  height: 336px;
}

.concept-catch {
  color: #468459;
  line-height: 1.8;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  z-index: 1;
}


.concept-explain {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.concept-btn {
  border: solid 1px #000000;
  border-radius: 6px;
  font-size: 14px;
  padding: 3px 23px;
  margin-left: auto;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #000000;
}

.concept-right {
  width: 40%;
}

.concept-right img,
.flow-right img {
  width: 150%;
}

@media screen and (max-width: 767px) {
  .common-flex {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .concept-btn {
    margin: 0 auto;
  }

  .concept::before {
    top: 35%;
    left: 8%;
  }

  .concept::after {
    top: 77%;
    left: 45%;
  }

  .concept-right {
    padding-top: 70px
  }

}


/* コース・料金 */
.course-frame {
  margin-top: 150px;
  width: 100%;
}

.course-title-img img {
  text-align: center;
  margin: 0 auto;

}

.course-title-img p {
  text-align: center;
  font-size: 24px;
  color: #468459;
  margin: 20px auto;
  width: 342px;
}

.course-flex {
  display: flex;
  width: 100%;
  justify-content: center;

}

.course-left,
.course-right {
  margin: 30px 30px;
}

.course-title {
  font-size: 24px;
  color: #0C4324;
  padding: 15px 0 0;
}

.course-item {
  margin-top: 0px;
  font-size: 13px;
  line-height: 3;
  list-style-position: inside;
  padding-left: 10px;
}

.course-btn {
  border: solid 1px;
  border-radius: 6px;
  font-size: 14px;
  padding: 3px 23px;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.course-frame {
  background-image: url("images/course-frame.png");
  width: 100%;
  background-size: cover;
}

.course-content {
  padding: 140px 0;
}

@media screen and (max-width: 767px) {
  .course-flex {
    flex-direction: column;
    justify-content: center;
  }

  .course-title-img {
    padding-top: 100px;
}


/* お客様の声 */
.voice-img-sp {
  display: none;
}

.voice-img-pc {
  width: 100%;
}

.voice-title-img {
  position: relative;
  z-index: 1;
  display: block;
  top: -119px;
  padding-top: 73px;
  width: 100%;
}


.voice-title-img::before {
  content: "";
  background-image: url(images/voice-circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  z-index: -1;
  width: 515px;
  height: 119px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
}

.voice-title-img img {
  text-align: center;
  margin: 0 auto;

}

.voice-title-img p {
  text-align: center;
  font-size: 24px;
  color: #468459;
  margin: 20px auto;
  width: 342px;
}

.customer {
  display: flex;
  justify-content: center;
  margin: 0 60px
}

.customer-item {
  width: 30%;
  margin: 50px 0;
}

.customer-item img {
  margin: 0 auto;
}

.customer-title {
  font-size: 24px;
  color: #0C4324;
  text-align: center;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 12px;
}

.customer-explain {
  font-size: 18px;
  line-height: 2;
  margin: 0 auto;
  width: 25VW
}

.voice-btn {
  border: solid 1px;
  border-radius: 6px;
  font-size: 14px;
  padding: 3px 23px;
  margin: 0 auto;
  width: 200px;
  text-align: center;

}

/* フッター */
.footer-frame img {
  width: 100%;
}

.footer-title-img img {
  text-align: center;
  margin: 0 auto;

}

.footer-flex {
  display: flex;
  justify-content: center;
}

.footer-left,
.footer-right {
  margin: 30px 30px;
}

.footer-minutes {
  font-size: 24px;
  color: #468459;
  margin-bottom: 15px;
}

.footer-adress {
  font-size: 16px;
}

.footer-tel {
  font-size: 24px;
  color: #468459;
  margin: 15px auto;
}

.footer-tel span {
  font-size: 16px;
}


.footer-btn {
  margin-top: 30px;
}

.footer-btn a {
  color: #ffffff;
  background-color: #1B9240;
  border-radius: 4px;
  padding: 9px 16px;
  font-size: 16px;
}


.footer-content {
  background-color: #F0F5E1;
}

.footer-navi {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 8px;
  margin: 0 60px;
}

.footer-navi a {
  font-size: 16px;
  white-space: nowrap
}

.footer-content {
  background-color: #F0F5E1;
}

.copyright {
  background: #468459;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  padding: 10px 0;
}

#top-page {
  float: right;
  margin-top: -170px;
  margin-right: 20px;
  width: 44.8px;
  height: 44.8px;
  flex-shrink: 0;
}



@media screen and (max-width: 767px) {
  /* ハンバーガーメニュー */

  /* スマホ用ナビゲーションの表示切替 */
  /* 初期状態、レイアウトと非表示設定 */
  #nav-sp {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    display: none;
    z-index: 10000;
  }

  /* ✖︎ボタン */
  #close {
    position: absolute;
    top: 10px;
    right: 20px;
  }




  /* ナビゲーション用ロゴ */
  #logo-sp {
    margin: 10px 30px 50px 20px;
    position: absolute;
  }

  #nav-sp p {
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 900;
    color: #0C4324;

  }

  /* ナビゲーションのリンクの装飾設定SP */
  #nav-sp>a {
    display: block;
  }

  #nav-sp>a:link {
    color: #0D0D0D;
  }

  #nav-sp>a:visited {
    color: #0D0D0D;
  }

  #nav-sp>a:hover {
    color: #0D0D0D;
    text-decoration: underline;
  }

  #nav-sp>a:active {
    color: #0D0D0D;
  }

  #nav-sp>.menu {
    text-decoration: none;
    display: block;
    margin: 0 30px 0 30px;
    height: 60px;
    font-size: 16px;
  }

  .menu-contact-btn {
    margin: 0 auto;
    text-align: center;
  }

  .menu-contact-btn a {
    background-color: #0C4324;
    text-align: center;

    border-radius: 4px;
    font-size: 14px;
    padding: 10px 50px;
    color: #ffffff;
  }
}